div, p{
  padding:0;
  margin:0;
}

.un_shown{
  display:none;
}

.container{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.box{
  width:49%;
  padding:10px;
  border:1px solid #c0c0c0;
  box-sizing:border-box;
  margin:10px 0px;
}
.box div{
  padding-top:10px;
  font-size:10px;
}
.picture{
  display:block;
  text-align:center;
  width:90%;
}